<template>
  <div>
    <v-btn @click="addNotes">Crear Notas</v-btn>
    <v-row
      class="mb-9"
      no-gutters
    >
    <v-card id="card" v-for="(note, idx) in allNotes" :key="idx" class="mx-4 my-3">
        <div v-html="note.text"></div>
        <h3>{{ note.tittle }}</h3>
          <v-btn
              color="error"
              @click="deleteNote(note._id)"
            >
             <v-icon>mdi-delete</v-icon>
              <span>Borrar</span>
            </v-btn>
             <v-btn
              color="success"
              @click="edit(note._id)"
            >
             <v-icon>mdi-file-edit</v-icon>
              <span>Editar</span>
            </v-btn>
    </v-card>
    </v-row>
  </div>
</template>



<script>

import APIServices from "../services/Api";

export default {
  name: "Home",
  data(){
    return{
      allNotes: []
    }
  },
  methods:{
    addNotes(){
      this.$router.push("/notes")
    },
    deleteNote(noteid){
      APIServices.deleteNote(noteid)
      .then(() => {
        location.reload()
      })
    }
  },
  mounted(){
    APIServices.getAllNotes()
    .then (res => (this.allNotes = res))
  }
};
</script>

<style lang="scss">
#card{
  width: 231px;
}
</style>
