<template>
  <div id="app">
    <ckeditor
      :editor="editor"
      v-model="editorData"
      :config="editorConfig"
    ></ckeditor>
    <v-card-actions>
      <v-btn @click="save">SAVE</v-btn>
    </v-card-actions>
  </div>
</template>

<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import APIServices from "../services/Api";

export default {
  name: "app",
  data() {
    return {
      title: "",
      editor: ClassicEditor,
      editorData: "<p>Content of the editor.</p>",
      editorConfig: {
        // The configuration of the editor.
      }
    };
  },
  methods: {
    save() {
      const newNote = {
        title: this.title,
        text: this.editorData
      };
      APIServices.createNote(newNote)
        .then(() => {
          this.$router.push("/home");
        })
        .catch(err => console.log(err));
    }
  }
};
</script>
